/* CSS Document */

*{ padding:0; margin:0; font-family: "microsoft yahei",Arial,Helvetica,sans-serif; font-style: normal;}

ul,li,dl,dd,dt{ list-style: none;}

img{ border:none;}

a{ text-decoration:none; color:#f0fbff;}



.red{ color:red;}



body{background:url(../images/bg_tm.png) left 50px;background-color:#0a0428;  font-size:18px; color:#fff; line-height:30px;}

.ls5{ letter-spacing:5px;}/*字间距5像素*/

.ml50{ margin-left:50px;}

.ml80{ margin-left:80px;}

.ml10{ margin-left:10px;}

.ml20{ margin-left:20px;}

.mr20{ margin-right:20px;}

.mt10{margin-top:10px;}

.mt30{ margin-top:30px;}

.mb30{margin-bottom:30px;}

.mb10{margin-bottom:10px;}

.fbold{ font-weight:bold;}

.border_r10{

-moz-border-radius: 10px;      /* Gecko browsers */

-webkit-border-radius: 10px;   /* Webkit browsers */

border-radius:10px;            /* W3C syntax */

}

.border_r20{

-moz-border-radius: 20px;      /* Gecko browsers */

-webkit-border-radius: 20px;   /* Webkit browsers */

border-radius:20px;            /* W3C syntax */

}



h1{ font-weight:100; font-size:55px;}

h1 span{ color:#e3db0c}



.clear:after{ clear: both; content: "."; display: block; height: 0; visibility: hidden;}

.clear{ height:1%;}



.top1{margin:0 auto;width:1000px;}



.top_qu{ line-height:30px; float:right; margin-right:10px; color:#fff; }

.top_qu a{ text-decoration:none; color:#fff; font-size:16px; }



.body1{min-width:1000px;max-width:1920px;margin:0 auto;background: url(../images/top1_bg.jpg) center top no-repeat; height:526px;} 



.body2{min-width:1000px;max-width:1920px;margin:0 auto;background: url(../images/top2_bg.jpg) center top no-repeat; height:752px; position:relative; padding-top:140px;}
.b2_gg{background: url(../images/gd_gg.png); width:459px; height:89px; margin:0 auto; position:absolute; left:50%; margin-left:-228px; top:-75px; }

.b2_bt{background: url(../images/bt1.png) center top no-repeat; height:50px;}

.b2_txt{ text-align:center; margin-top:5px;}

.b2_line{width:500px; margin:10px auto; border-bottom:1px dashed #FFF;}

.b2_bbox{width:1000px; margin:30px auto 0; text-align:center;}
.b2_hgbtn{ display:inline-block; padding:5px 20px 6px; background:#f64c95; color:#fff; font-size:22px; margin-bottom:20px;}

.b2_endbt{background: url(../images/end_bt.png); width:627px; height:86px; margin:0 auto 20px;}

.b2_endtxt{ padding:0 30px; text-align:left;}

.b2_bom{display:inline-block;width:155px; margin:0 8px; height:155px;  border-radius:50%;border:1px dashed #473f4f; position:relative;}

.b2_bomc{width:124px; height:124px;border-radius:50%; border:4px solid #473f4f; position:absolute;top:12px; left:12px; overflow:hidden;}

.b2_bomc img{width:124px; margin-top:-10px; transition:all .5s ease-in; }

.b2_btn{width:260px; height:280px; display:inline-block; vertical-align:top; margin-top:-70px; position:relative;}

.b2_btn .bc1{position:absolute; background:url(../images/tp_btn1.png); width:130px; height:130px; top:50%; left:50%; margin-top:-65px; margin-left:-65px; z-index:3}

.b2_btn .bc2{position:absolute;background:url(../images/tp_btn2.png); width:160px; height:160px; top:50%; left:50%; margin-top:-80px; margin-left:-80px; z-index:2}

.b2_btn .bc3{position:absolute;background:url(../images/tp_btn3.png); width:280px; height:280px; top:50%; left:50%; margin-top:-147px; margin-left:-147px; z-index:1}



@keyframes hearting1{

    0% { transform:scale(1); }

	30% { transform:scale(1.2); }

	60% { transform:scale(1); }

}

.heart1{

    animation:hearting1 1.5s linear 0s infinite;

	transform-origin:50% 50%;

}



@keyframes hearting2{

	0% { transform:scale(0.9); }

	30% { transform:scale(0.9); }

	60%{transform:scale(1.1);}

	100% { transform:scale(0.9); }

}

.heart2{

    animation:hearting2 1.5s linear 0s infinite;

	transform-origin:50% 50%;

}



.body3{min-width:1000px; margin:-100px auto 0; text-align:center;background: url(../images/bg_4.png) center 50px no-repeat; position:relative;}

/* roundabout */
.roundabout-holder{width:900px;height:350px; margin:0 auto;}
.roundabout-moveable-item{width:570px;height:320px;cursor:pointer; }
.roundabout-moveable-item img{width:100%;}
.roundabout-in-focus{}

.b3_svip{width:994px; margin:0 auto 10px; padding-top:1px; height:152px;background: url(../images/svip_bg.png) center top no-repeat; font-size:15px; text-align:center; position:relative;}

.b3_btn1{ position:absolute; top:38px; left:190px; height:25px; width:120px; line-height:25px; display:inline-block;}

.b3_btn2{position:absolute; top:38px; right:190px;height:25px; width:120px; line-height:25px; display:inline-block;}

.b3_btn3{ position:absolute; top:75px; left:145px; height:42px; width:160px; line-height:42px; font-size:26px; display:inline-block;}

.b3_btn4{ position:absolute; top:75px; right:140px; height:42px; width:160px; line-height:42px; font-size:26px; display:inline-block;}

.b3_c{width:380px; padding-top:10px; text-align:center; margin:0 auto;}

.b3_txt1{font-size:27px; font-weight:bold;}

.b3_txt2{font-size:14px; line-height:25px; margin-top:10px;}

.b3_plan1{ display:inline-block;background: url(../images/piao_bg1.png); width:240px; height:378px; vertical-align:top;}

.b3_p1_btn1{ display:inline-block; background:#f64c95;height:25px; width:190px; margin:0 auto; font-size:14px; line-height:25px;}

.b3_p1_btn2{ display:inline-block;background:#f64c95;height:40px; width:190px; margin:0 auto; font-size:24px; line-height:40px;}

.b3_plan2{ display:inline-block;background: url(../images/piao_bg2.png); width:240px; height:378px; margin:0 2px; vertical-align:top;}

.b3_p2_btn1{ display:inline-block;background:#07a5e7;height:25px; width:190px; margin:0 auto; font-size:14px; line-height:25px;}

.b3_p2_btn2{ display:inline-block;background:#07a5e7;height:40px; width:190px; margin:0 auto; font-size:24px; line-height:40px;}

.b3_p_t1{ padding-top:20px; font-size:27px; font-weight:bold; line-height:35px; margin-bottom:15px;}

.b3_p_t2{ font-size:14px; width:100%; height:180px;}



.body4{min-width:1000px; margin:20px auto 0; text-align:center; height:422px; position:relative; overflow:hidden;}

.zx_imglist{background: url(../images/bg_3.png) center top no-repeat;width:1270px; height:422px; position:absolute; left:50%; margin-left:-635px; }

.b4_boxt{ margin:0 auto;width:989px;background: url(../images/box_tbg.png); height:30px;}

.b4_boxc{ margin:0 auto;width:909px; padding:0 40px;background: url(../images/box_cbg.png);}

.b4_boxb{ margin:0 auto;width:989px;background: url(../images/box_bbg.png); height:30px;}

.b4_bt{float:left;width:283px; height:49px;background: url(../images/bt2.png); }

.b4_btn{float:right;width:200px; height:50px;background:#f64c95; line-height:50px; font-size:24px; text-align:center; cursor:pointer; }

.b4_txt{ padding-top:20px; text-align:left; font-size:18px; line-height:26px;}





.body5{ margin:-105px auto 0;background: url(../images/bg_1.png) center top no-repeat; min-width:1000px; height:489px;}



.body6{margin:-420px auto 0;background: url(../images/bg_2.png) center bottom no-repeat; min-width:1000px;padding-bottom:178px; text-align:center;}



.body7{ margin:-50px auto 0;background: url(../images/flym.png) center bottom no-repeat; padding-bottom:90px;}

.b7_item1{ margin:40px auto 0;background: url(../images/ldbg1.png) center top no-repeat; height:206px;max-width:1233px;}

.b7_item2{ margin:40px auto 0;background: url(../images/ldbg2.png) center top no-repeat; height:206px;max-width:1233px;}

.b7_i_con{margin:0 auto; width:870px;}

.b7_bt{height:49px; margin-bottom:5px;}

.b7_txt{}

.b7_txt2{ padding-top:15px;}



.body8{ margin:-300px auto 0;background: url(../images/bigline.png) center top no-repeat; padding-top:1px; text-align:center;}

.b8_bt{ margin:0 auto;background: url(../images/bt3.png);width:400px; height:122px; margin-top:270px; }

.b8_item{margin:0 10px; display:inline-block;}

.b8_imgbox{width:245px; height:200px;}

.b8_txt1{font-size:16px; font-weight:bold; margin-top:5px;}

.b8_txt1 span{font-size:14px; font-weight:normal;}

.b8_txt2{font-size:14px; margin:5px auto 0; width:200px; padding-bottom:10px; border-bottom:1px dashed #f64c95; }

.b8_yuan{font-size:38px;}

.b8_btn{ display:inline-block; font-size:24px; margin-top:5px; width:200px; height:40px; line-height:40px; background:#f64c95;}



.body9{margin:40px auto 0;padding-top:1px; text-align:center;}

.b9_bt{ margin:0 auto;background: url(../images/bt4.png);width:236px; height:49px;}

.b9_txt1{color:#179ee8; margin-top:10px;}

.b9_txt2{ background:#1e1d30; margin-top:10px; display:inline-block; padding:0 5px;}



.b9_hx{ margin:0 auto; background:#179ee8; width:980px; padding-top:5px; margin-top:5px;}

.b9_move{margin:0 10px; overflow:hidden;}

.b9_move img{height:156px;}

.imgmargin td{ padding:5px 5px;}

.imgmargin img{ cursor:pointer}



.body10{background: url(../images/bottomline.png) center center no-repeat; margin-bottom:20px;}

.b10_logo{ margin:-10px auto;width:202px; height:190px;background: url(../images/bottom_logo.png);}



/*layer弹出样式去掉背景色*/



body .lay_nobg{background-color:transparent; border: none;}





.footer_con{ min-width: 1000px; max-width:1920px; margin: 0 auto;}

.f_bq{ padding: 20px 0 15px; color: #fff; font-size: 14px; text-align: center;}